<style>
    .breatcome-area {
        background: url(/images/pimages/img4.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 154px 0;
    }

    .blog-content.style-two {
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: -16px;
    }
</style>


<!--==================================================-->
<!-- Start Thrown Bratcome Area -->
<!--==================================================-->
<div class="breatcome-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="breatcome-content">
                    <div class="breatcome-title">
                        <h1>Our Services</h1>
                    </div>
                    <div class="bratcome-text">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Pumps and MEP Works
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area style-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="section-sub-title">
                        <h4>Our Services</h4>
                    </div>
                    <div class="section-main-title">
                        <h2>Pumps and MEP Works</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr1.png">
                            <img src="assets/img/sr1.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr2.png">
                            <img src="assets/img/sr2.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr3.png">
                            <img src="assets/img/sr3.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr4.png">
                            <img src="assets/img/sr4.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr5.png">
                            <img src="assets/img/sr5.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr6.png">
                            <img src="assets/img/sr6.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr7.png">
                            <img src="assets/img/sr7.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr8.png">
                            <img src="assets/img/sr8.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr9.png">
                            <img src="assets/img/sr9.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3 mt-3">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr10.png">
                            <img src="assets/img/sr10.png" alt="">
                        </a>
                        <h4 class="p-3">Hi fdsffdsff</h4>
                    </div>
                    <div class="blog-content style-two">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr11.png">
                            <img src="assets/img/sr11.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr12.png">
                            <img src="assets/img/sr12.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog-thumb">
                        <a href="assets/img/sr13.png">
                            <img src="assets/img/sr13.png" alt="">
                        </a>
                    </div>
                    <div class="blog-content style-two">



                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




<!--==================================================-->
<!-- End Thrown Sidebar Area -->
<!--==================================================-->
<style>
    .img3 {
        width: 130px;
        margin-top: -17px;
    }
</style>


<!--==================================================-->
<!-- Start Thrown Footer Area -->
<!--==================================================-->
<div class="footer-area">
    <div class="container">
        <div class="row gx-7">
            <div class="col-lg-3 col-md-6">
                <div class="footer-wiget">
                    <div class="footer-wiget-log">
                        {{#each sites}}
                        <a href="/"><img class="img3" src="/images/site-images/{{this._id}}.png" alt=""></a>
                        {{/each}}
                    </div>
                    <div class="footer-wiget-text">
                        <h4>Hydro Sanitary Ware Trading LLC</h4>
                    </div>
                    <div class="footer-shape-title">
                        <p>We believe our services have immensely contributed to the infrastructure development
                            requirements of the country for the past 07 years.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-wiget">
                    <div class="footer-wiget-title">
                        <h4>Links</h4>
                    </div>
                    <div class="footer-wiget-menu">
                        <ul>
                            <li><a href="/"> Home</a></li>
                            <li><a href="/about-us"> About Us</a></li>
                            {{!-- <li><a href="#">Careers</a></li> --}}
                            {{!-- <li><a href="#">Gallery</a></li> --}}
                            <li><a href="/products"> Products</a></li>
                            <li><a href="/contact-us"> Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-wiget">
                    <div class="footer-wiget-title">
                        <h4>Our Product Links</h4>
                    </div>
                    <div class="footer-wiget-menu">
                        <ul>
                            {{#each categories}}
                            <li><a href="{{this.dl}}"> {{this.name}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pr-0">
                <div class="foter-box">
                    <div class="footer-wiget-icon">
                        <ul>
                            {{#each socials}}
                            <li><a href="{{this.url}}"><i class="bi bi-{{this.iname}}"></i></a></li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="footer-widget-contct-menu">
                        <ul>
                            {{#each contacts}}
                            <li><a href="#">{{this.Phone}}</a></li>
                            <li class="line"><a href="#">Info@hydrosanitary.com</a></li>
                            <li><a href="#">{{this.Location}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center mt-100">
            <div class="col-lg-6 col-md-12">
                <div class="copyright-text">
                    <p>Copyright © <a href="#">Hydro</a> All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="footer-condition">
                    <ul>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End Thrown Footer Area -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
<div class="search-popup">
    <button class="close-search style-two"><span class="flaticon-multiply"><i
                class="far fa-times-circle"></i></span></button>
    <button class="close-search"><i class="fas fa-arrow-up"></i></button>
    <form method="post" action="#">
        <div class="form-group">
            <input type="search" name="search-field" value="" placeholder="Search Here" required="">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>
<!--==================================================-->