<style>
    .breatcome-area {
        background: url('/img/pbanner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 154px 0;
    }

    .blog-content.style-two {
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: -16px;
    }

    .blog-thumb img {
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
        transition: .5s;
    }

    .blog-single-box.style-two.inner-page {
        margin-bottom: 30px;
        border-radius: 14px;
    }

    .card-image {
        max-width: 100%;
        /* Ensures the image doesn't exceed the container's width */
        max-height: 300px;
        /* Set the desired maximum height for the image */
        width: auto;
        /* Allows the image to scale with its aspect ratio */
        height: auto;
        /* Allows the image to scale with its aspect ratio */
    }

    .blog-thumb img {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        transition: .5s;
    }

    @media (min-width: 1200px) and (max-width: 1600px) {
        .blog-title.style-two h4 a {
            font-size: 16px;
        }
    }
</style>


<!--==================================================-->
<!-- Start Thrown Bratcome Area -->
<!--==================================================-->
<div class="breatcome-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="breatcome-content">
                    <div class="breatcome-title">
                        <h1>{{cat}}</h1>
                    </div>
                    <div class="bratcome-text">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Products</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area style-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="section-sub-title">
                        <h4>Our subproducts</h4>
                    </div>
                    <div class="section-main-title">
                        <h2>{{cat}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            {{#each products}}  
            <div class="col-lg-4 col-md-6">
                <div class="blog-single-box style-two inner-page">
                    <div class="blog" style="padding:20px;">
    <a href="/single-sub-product/{{this.name}}">
                            <center>
                                <img class="card-image" src="/images/subsubcategory-images/{{this._id}}.png"
                                    style="border-radius:12px;">
                            </center>
                        </a>
                     
                    </div>
                    <div class="blog-content style-two">

                        <h6><a href="/single-sub-product/{{this.name}}" style="text-decoration: none;">{{this.name}}</a>
                        </h6>
                        {{!-- <h6 style="display: inline;">Size : </h6>
                        <span style="display: inline;"> {{this.size}}</span><br>

                        <h6 style="display: inline;">Model No : </h6>
                        <span style="display: inline;"> {{this.model}}</span><br>

                        <h6 style="display: inline;">Material : </h6>
                        <span style="display: inline;"> {{this.material}}</span><br><br> --}}

                    </div>
                </div>
            </div>
            {{/each}}




        </div>
    </div>
</div>




<!--==================================================-->
<!-- End Thrown Sidebar Area -->
<!--==================================================-->
<style>
    .img3 {
        width: 130px;
        margin-top: -17px;
    }

    .footer-area {
        background-color: #878787;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 109px 0 0px;
        position: relative;
    }
</style>