<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
  data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

  <div class="page-wrapper">
    <div class="container">
      <br>
      <h2>Manage Pumps</h2>
      <br>
      <a href="/admin/pump/add-pumpproduct" class="btn btn-primary mb-3">+ Add Pump Products</a>


      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Pump Product Name</th>
                  <th>Category</th>

                  <th>Pump Product Image</th>
                  <th>Edit</th>
                  <th>Delete</th>

                </tr>
              </thead>
              <tbody>
                {{#each pumpproducts}}
                <tr>
                  <td>{{incremented @index}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.category}}</td>
                  <td> <a href="/images/pumpproduct-images/{{this._id}}.png">
                      <img src="/images/pumpproduct-images/{{this._id}}.png" name="Image" class="image-fluid"
                        width="40%"></a>
                  </td>

                  <td><a href="/admin/pump/edit-pumpproduct/{{this._id}}" class="btn btn-dark mb-3"><i
                        class="bi bi-pencil-square" aria-hidden="true"></i></a></td>
                  <td><a href="/admin/pump/delete-pumpproduct/{{this._id}}" class="btn btn-danger"
                      onclick="return confirm('Are You Sure to Delete ?')"><i class="fa fa-trash"
                        aria-hidden="true"></i></a></td>


                </tr>
                {{/each}}



              </tbody>

            </table>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>